<app-header></app-header>
    <div class="inner_banner" style="background: url(assets/images/service_banner.jpg);">
        <div class="container text-center">
            <div class="page_breadcrumb">
                <!-- <app-breadcrumb></app-breadcrumb> -->
                <div class="breadcrumb">
                    <ul>
                        <li class="active"><a [routerLink]="['/']">Home</a></li>
                        <li><a [routerLink]="['/services']">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="pageTitle">
                <h1>Services</h1>
            </div>
            <div class="bannerContent">
                <p>MONTREAL WEB DESIGN is backed by a team of creative graphic designers and web technicians <br> are ready to handle all your web and computer needs, on any budget.</p>
            </div>
        </div>
    </div>
    <div class="innerpageHolder">
        <div class="container">
            <div class="serviceHolder">
                <div class="serviceRepeater">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2">
                            <div class="serviceImage">
                                <img src="assets/images/serviceImage1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="serviceTextHolder">
                                <div class="serviceIcon">
                                    <img src="assets/images/serviceIcon_1.png" alt="">
                                </div>
                                <div class="serviceTitle">
                                    <h2>Web Design & Development</h2>
                                </div>
                                <div class="serviceText">
                                    <p><strong>We offer custom web development services to meet customer requirements.</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus sit amet pulvinar libero pulvinar id. Donec at pharetra lacus. Nam dapibus sem quis quam mollis sit amet feugiat ante viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceRepeater">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="serviceImage">
                                <img src="assets/images/serviceImage2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="serviceTextHolder">
                                <div class="serviceIcon">
                                    <img src="assets/images/serviceIcon_2.png" alt="">
                                </div>
                                <div class="serviceTitle">
                                    <h2>Web Hosting</h2>
                                </div>
                                <div class="serviceText">
                                    <p><strong>At Montreal Web Design.Com, we offer our clients reliable, affordable and professional web hosting.</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus sit amet pulvinar libero pulvinar id. Donec at pharetra lacus. Nam dapibus sem quis quam mollis sit amet feugiat ante viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceRepeater">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2">
                            <div class="serviceImage">
                                <img src="assets/images/serviceImage3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="serviceTextHolder">
                                <div class="serviceIcon">
                                    <img src="assets/images/serviceIcon_3.png" alt="">
                                </div>
                                <div class="serviceTitle">
                                    <h2>Web Domains</h2>
                                </div>
                                <div class="serviceText">
                                    <p><strong>A domain name - such as Montreal Web Design.Com - signifies your own address on the Internet.</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus sit amet pulvinar libero pulvinar id. Donec at pharetra lacus. Nam dapibus sem quis quam mollis sit amet feugiat ante viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceRepeater">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="serviceImage">
                                <img src="assets/images/serviceImage4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="serviceTextHolder">
                                <div class="serviceIcon">
                                    <img src="assets/images/serviceIcon_4.png" alt="">
                                </div>
                                <div class="serviceTitle">
                                    <h2>Digital Marketing / SEO</h2>
                                </div>
                                <div class="serviceText">
                                    <p><strong>We offer custom web development services to meet customer requirements.</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus sit amet pulvinar libero pulvinar id. Donec at pharetra lacus. Nam dapibus sem quis quam mollis sit amet feugiat ante viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceRepeater">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2">
                            <div class="serviceImage">
                                <img src="assets/images/serviceImage5.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="serviceTextHolder">
                                <div class="serviceIcon">
                                    <img src="assets/images/serviceIcon_5.png" alt="">
                                </div>
                                <div class="serviceTitle">
                                    <h2>Computer Repair</h2>
                                </div>
                                <div class="serviceText">
                                    <p><strong>Having trouble with your computer, give us a call. Quick and reliable repairs.</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus sit amet pulvinar libero pulvinar id. Donec at pharetra lacus. Nam dapibus sem quis quam mollis sit amet feugiat ante viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceRepeater">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="serviceImage">
                                <img src="assets/images/serviceImage6.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="serviceTextHolder">
                                <div class="serviceIcon">
                                    <img src="assets/images/serviceIcon_6.png" alt="">
                                </div>
                                <div class="serviceTitle">
                                    <h2>Home Office Setup</h2>
                                </div>
                                <div class="serviceText">
                                    <p><strong>A domain name - such as Montreal Web Design.Com - signifies your own address on the Internet.</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus sit amet pulvinar libero pulvinar id. Donec at pharetra lacus. Nam dapibus sem quis quam mollis sit amet feugiat ante viverra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_5">
        <div class="container text-center">
            <div>
              <h3>So What’s Next?</h3>
              <h2>Are you ready? Let’s go!</h2>
            </div>
            <a href="javascript:void(0)" class="btn_learn">Get A Quote</a>
        </div>
    </div>
    <div class="section_6">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-xl-6 col-lg-6">
                  <h2>Hire us, or just say hello!</h2>
                  <div class="phone_num_holder">
                      <p>Montreal: <a href="tel:5148191901"> (514) 819-1901</a></p>
                      <p>Toll Free: <a href="tel:18009391077">1 (800) 939-1077</a></p>
                  </div>
                  <div class="address_holder">
                      <h3>OFFICE HOURS:</h3>
                      <p>Monday to Friday</p>
                      <p>9:00 a.m - 5:00 p.m EDT</p> 
                  </div>
                  <div class="social_holder">
                      <h4>We are Social</h4>
                      <ul>
                          <li><a href="https://www.facebook.com/MontrealWebDesign" target="_blank"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://twitter.com/montrealweb" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          <li><a href=" https://ca.linkedin.com/in/domenic-grippo-899ba21" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-5 col-lg-6">
                  <div class="form_holder">
                      <form>
                          <input type="text" placeholder="Name" class="form-control">
                          <input type="tel" placeholder="PHONE NUMBER" class="form-control">
                          <input type="email" placeholder="EMAIL ADDRESS" class="form-control">
                          <textarea placeholder="Tell us about your project" class="form-control"></textarea>
                          <input type="submit" value="">
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
<app-footer></app-footer>
