<app-header></app-header>
    <section class="section">
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2" *ngIf="bannerImage">
                        <div class="banner_img">
                            <img src="{{this.bannerImage}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner_content">
                            <h1 *ngIf="bannerShortDescription" [innerHTML]="bannerShortDescription"></h1>
                            <div class="banner_button_holder">
                                <ul>
                                    <li><a href="javascript:void(0)" class="btn_learn">Learn more</a></li>
                                    <li><a href="javascript:void(0)" class="btn_request">Request a quote</a></li>
                                </ul>
                            </div>
                            <h2>Call us <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:{{phoneNumber}}">{{websiteSettingsDetails.phone_no}}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section_2">
        <div class="container">
            <div class="text-center" [innerHTML]="homeDetails.description"></div>
            <div class="approch_box_holder">
                <div class="row">
                    <div class="col-lg-4 approch" *ngFor="let service of serviceWidgets;">
                        <div class="approch_box">
                            <h4 [innerHTML]="service.short_title"></h4>
                            <div class="approch_icon">
                                <img src="{{service.image}}" alt="">
                            </div>
                            <p [innerHTML]="service.short_description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_3">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6 order-lg-2" *ngIf="aboutImage">
                    <img src="{{aboutImage}}" alt="">
                </div>
                <div class="col-xl-5 col-lg-6">
                    <h2 [innerHTML]="aboutDetails.title"></h2>
                    <div [innerHTML]="aboutDetails.description"></div>
                    <a href="javascript:void(0)" class="btn_learn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section_4" *ngIf="portfolios.length > 0">
        <div class="container">
            <div class="text-center">
                <h2 [innerHTML]="homeDetails.short_title"></h2>
            </div>
        </div>
        <div class="portfolio_banner_holder">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let portfolio of portfolios;">
                    <div class="slide">
                        <div class="port_slider_inner">
                            <img src="{{portfolio.image}}" alt="">
                            <div class="banner_caption">
                                <h3 [innerHTML]="portfolio.short_title"></h3>
                                <p>Role: <span [innerHTML]="portfolio.services"></span></p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="text-center">
            <a href="javascript:void(0)" class="btn_learn">View portfolio</a>
        </div>
    </div>
    <div class="section_5">
        <div class="container text-center">
            <div [innerHTML]="homeDetails.other_description"></div>
            <a href="javascript:void(0)" class="btn_learn">Get A Quote</a>
        </div>
    </div>
    <div class="section_6">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div [innerHTML]="websiteSettingsDetails.address"></div>
                    <div class="social_holder" *ngIf="websiteSettingsDetails.facebook_link != '' || websiteSettingsDetails.twitter_link != '' || websiteSettingsDetails.linkedin_link != ''">
                        <h4>We are Social</h4>
                        <ul>
                            <li *ngIf="websiteSettingsDetails.facebook_link">
                                <a href="{{websiteSettingsDetails.facebook_link}}" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li *ngIf="websiteSettingsDetails.twitter_link">
                                <a href="{{websiteSettingsDetails.twitter_link}}" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li *ngIf="websiteSettingsDetails.linkedin_link">
                                <a href="{{websiteSettingsDetails.linkedin_link}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="form_holder">
                        <form [formGroup]="enquiryForm" (ngSubmit)="submitEnquiryForm();" autocomplete="off">
                            <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{'is-invalid': submitted && enquiryFormVal.name.errors}">
                            <div *ngIf="submitted && enquiryFormVal.name.errors" class="invalid-feedback">
                                <div *ngIf="enquiryFormVal.name.errors.required">
                                    Please enter your name
                                </div>
                            </div>
                            <input type="text" formControlName="phone_number" class="form-control" placeholder="Phone Number" [ngClass]="{'is-invalid': submitted && enquiryFormVal.phone_number.errors}">
                            <div *ngIf="submitted && enquiryFormVal.phone_number.errors" class="invalid-feedback">
                                <div *ngIf="enquiryFormVal.phone_number.errors.required">
                                    Please enter your phone number
                                </div>
                            </div>
                            <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{'is-invalid': submitted && enquiryFormVal.email.errors}">
                            <div *ngIf="submitted && enquiryFormVal.email.errors" class="invalid-feedback">
                                <div *ngIf="enquiryFormVal.email.errors?.required; else validEmail">
                                    Please enter your email
                                </div>
                                <ng-template #validEmail>
                                    Please enter valid email
                                </ng-template>
                            </div>
                            <textarea formControlName="message" class="form-control" placeholder="Tell us about your project" [ngClass]="{'is-invalid': submitted && enquiryFormVal.message.errors}"></textarea>
                            <div *ngIf="submitted && enquiryFormVal.message.errors" class="invalid-feedback">
                                <div *ngIf="enquiryFormVal.message.errors.required">
                                    Please tell us about your project
                                </div>
                            </div>
                            <input type="submit" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>
