<app-header></app-header>
<div class="inner_banner" style="background: url(assets/images/portfolioBanner.jpg);">
    <div class="container text-center">
        <div class="page_breadcrumb">
            <!-- <app-breadcrumb></app-breadcrumb> -->
            <div class="breadcrumb">
                <ul>
                    <li class="active"><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/portfolio']">portfolio</a></li>
                </ul>
            </div>
        </div>
        <div class="pageTitle">
            <h1>Portfolio</h1>
        </div>
        <div class="bannerContent">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <br>turpis egestas Maecenas ut lorem magna. </p>
        </div>
    </div>
</div>
<div class="innerpageHolder">
  <div class="container">
    <div class="portfolio_tab_holder">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true"> All Works </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#marketing" type="button" role="tab" aria-controls="marketing" aria-selected="false">Marketing</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#branding" type="button" role="tab" aria-controls="branding" aria-selected="false">Branding Design</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#development" type="button" role="tab" aria-controls="development" aria-selected="false">Development  Design</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#ecommerce" type="button" role="tab" aria-controls="ecommerce" aria-selected="false">Ecommerce  Design</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
              <div id="port_1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_1.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_2.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_3.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_4.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_5.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_6.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_7.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_8.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_9.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_1.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_2.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_3.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_4.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_5.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_6.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_7.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_8.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_9.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_1.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_2.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_3.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_4.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_5.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_6.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_7.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_8.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_9.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#port_1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">1</button>
                      <button type="button" data-bs-target="#port_1" data-bs-slide-to="1" aria-label="Slide 2">2</button>
                      <button type="button" data-bs-target="#port_1" data-bs-slide-to="2" aria-label="Slide 3">3</button>
                      <button class="carousel-control-next" type="button" data-bs-target="#port_1" data-bs-slide="next">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> Prv
                        <span class="visually-hidden">Next</span>
                      </button>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="marketing" role="tabpanel" aria-labelledby="marketing-tab">
              <div id="port_2" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_1.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_2.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_3.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_4.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_5.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_6.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_7.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_8.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_9.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="branding" role="tabpanel" aria-labelledby="branding-tab">
              <div id="port_3" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_1.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_2.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_3.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_4.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_5.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_6.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_7.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_8.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="port_slider_inner">
                            <img src="assets/images/portfolio_9.jpg" alt="">
                            <div class="banner_caption">
                                <h3>Bioastra Tech.com </h3>
                                <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                                <a href="javascript:void(0)">View Project</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
          <div class="tab-pane fade" id="development" role="tabpanel" aria-labelledby="development-tab">
            <div id="port_3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_1.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_2.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_3.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_4.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_5.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_6.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_7.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_8.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_9.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
          </div>
          <div class="tab-pane fade" id="ecommerce" role="tabpanel" aria-labelledby="ecommerce-tab">
            <div id="port_3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_1.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_2.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_3.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_4.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_5.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_6.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_7.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_8.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="port_slider_inner">
                          <img src="assets/images/portfolio_9.jpg" alt="">
                          <div class="banner_caption">
                              <h3>Bioastra Tech.com </h3>
                              <p>Role: Web Design, Web Maintence, <br>Web Hosting </p>
                              <a href="javascript:void(0)">View Project</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="section_5">
    <div class="container text-center">
        <div>
          <h3>So What’s Next?</h3>
          <h2>Are you ready? Let’s go!</h2>
        </div>
        <a href="javascript:void(0)" class="btn_learn">Get A Quote</a>
    </div>
</div>
<div class="section_6">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-xl-6 col-lg-6">
              <h2>Hire us, or just say hello!</h2>
              <div class="phone_num_holder">
                  <p>Montreal: <a href="tel:5148191901"> (514) 819-1901</a></p>
                  <p>Toll Free: <a href="tel:18009391077">1 (800) 939-1077</a></p>
              </div>
              <div class="address_holder">
                  <h3>OFFICE HOURS:</h3>
                  <p>Monday to Friday</p>
                  <p>9:00 a.m - 5:00 p.m EDT</p> 
              </div>
              <div class="social_holder">
                  <h4>We are Social</h4>
                  <ul>
                      <li><a href="https://www.facebook.com/MontrealWebDesign" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/montrealweb" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href=" https://ca.linkedin.com/in/domenic-grippo-899ba21" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-5 col-lg-6">
              <div class="form_holder">
                  <form>
                      <input type="text" placeholder="Name" class="form-control">
                      <input type="tel" placeholder="PHONE NUMBER" class="form-control">
                      <input type="email" placeholder="EMAIL ADDRESS" class="form-control">
                      <textarea placeholder="Tell us about your project" class="form-control"></textarea>
                      <input type="submit" value="">
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
