<app-header></app-header>
<div class="inner_banner" style="background: url(assets/images/contactBanner.jpg);">
    <div class="container text-center">
        <div class="page_breadcrumb">
            <!-- <app-breadcrumb></app-breadcrumb> -->
            <div class="breadcrumb">
                <ul>
                    <li class="active"><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/contact']">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="pageTitle">
            <h1>Contact</h1>
        </div>
        <div class="bannerContent">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <br>turpis egestas Maecenas ut lorem magna. </p>
        </div>
    </div>
</div>
<div class="innerpageHolder">
    <div class="container">
        <div class="contact_holder">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contactDetails">
                        <h2>Our Location</h2>
                        <div class="address">
                            <p>Washington Fulton Street, Suite 640 <br>New York, NY 10010 </p>
                        </div>
                        <div class="contact_phone">
                            <div class="phone_icon">
                                <img src="assets/images/ph_icon_2.png" alt="">
                            </div>
                            <div class="phone_details">
                                <a href="tel:(514)819-1801">Montreal: (514) 819-1801</a>
                                <a href="tel:1 (800) 939-1077">Toll Free: 1 (800) 939-1077</a>
                            </div>
                        </div>
                        <div class="mailholder">
                            <h2>Say Hello</h2>
                            <p>Lorem ipsum dolor sit amet consectetur <br>adipiscing elit</p>
                            <div class="mailbox">
                                <div class="mailicon">
                                    <img src="assets/images/mail_icon.png" alt="">
                                </div>
                                <div class="mailtext">
                                    <a href="mailto:support@Montrealwebdesign.com">support@Montrealwebdesign.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mapHolder">
                        <h2>View map</h2>
                        <div class="mapContainer">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6046.104704103538!2d-73.98741007203529!3d40.73887354647901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sSuite%20640%20New%20York%2C%20NY%2010010%20!5e0!3m2!1sen!2sin!4v1619346959765!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_5">
    <div class="container text-center">
        <div>
          <h3>So What’s Next?</h3>
          <h2>Are you ready? Let’s go!</h2>
        </div>
        <a href="javascript:void(0)" class="btn_learn">Get A Quote</a>
    </div>
</div>
<div class="section_6">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-xl-6 col-lg-6">
              <h2>Hire us, or just say hello!</h2>
              <div class="phone_num_holder">
                  <p>Montreal: <a href="tel:5148191901"> (514) 819-1901</a></p>
                  <p>Toll Free: <a href="tel:18009391077">1 (800) 939-1077</a></p>
              </div>
              <div class="address_holder">
                  <h3>OFFICE HOURS:</h3>
                  <p>Monday to Friday</p>
                  <p>9:00 a.m - 5:00 p.m EDT</p> 
              </div>
              <div class="social_holder">
                  <h4>We are Social</h4>
                  <ul>
                      <li><a href="https://www.facebook.com/MontrealWebDesign" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/montrealweb" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href=" https://ca.linkedin.com/in/domenic-grippo-899ba21" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-5 col-lg-6">
              <div class="form_holder">
                  <form>
                      <input type="text" placeholder="Name" class="form-control">
                      <input type="tel" placeholder="PHONE NUMBER" class="form-control">
                      <input type="email" placeholder="EMAIL ADDRESS" class="form-control">
                      <textarea placeholder="Tell us about your project" class="form-control"></textarea>
                      <input type="submit" value="">
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
