<app-header></app-header>
<div class="inner_banner" style="background: url(assets/images/testi_banner.jpg);">
    <div class="container text-center">
        <div class="page_breadcrumb">
            <!-- <app-breadcrumb></app-breadcrumb> -->
            <div class="breadcrumb">
                <ul>
                    <li class="active"><a [routerLink]="['/']">Home</a></li>
                    <li><a [routerLink]="['/testimonials']">Testimonials</a></li>
                </ul>
            </div>
        </div>
        <div class="pageTitle">
            <h1>Testimonials</h1>
        </div>
        <div class="bannerContent">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <br>turpis egestas Maecenas ut lorem magna. </p>
        </div>
    </div>
</div>
<div class="innerpageHolder">
    <div class="container">
        <div class="testimonials_box">
            <div class="testi_img">
                <img src="assets/images/testi_img_1.jpg" alt="">
            </div>
            <div class="testi_cn">
                <div class="quote">
                    <img src="assets/images/quote.png" alt="">
                </div>
                <h2>Boost My Website Visitor & Speed</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus, sit amet pulvinar libero pulvinar id. Phasellus lacinia est non hendrerit efficitur.</p>
                <div class="testi_footer">
                    <div class="client_img">
                        <img src="assets/images/client_1.png" alt="">
                    </div>
                    <div class="client_name">
                        <h3>Kendry Diaz <span>Co-Founder of blueberryinvitations</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials_box">
            <div class="testi_img">
                <img src="assets/images/testi_img_2.jpg" alt="">
            </div>
            <div class="testi_cn">
                <div class="quote">
                    <img src="assets/images/quote.png" alt="">
                </div>
                <h2>Boost My Website Visitor & Speed</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus, sit amet pulvinar libero pulvinar id. Phasellus lacinia est non hendrerit efficitur.</p>
                <div class="testi_footer">
                    <div class="client_img">
                        <img src="assets/images/client_2.png" alt="">
                    </div>
                    <div class="client_name">
                        <h3>Kendry Diaz <span>Co-Founder of Bioastra</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials_box">
            <div class="testi_img">
                <img src="assets/images/testi_img_3.jpg" alt="">
            </div>
            <div class="testi_cn">
                <div class="quote">
                    <img src="assets/images/quote.png" alt="">
                </div>
                <h2>Boost My Website Visitor & Speed</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus, sit amet pulvinar libero pulvinar id. Phasellus lacinia est non hendrerit efficitur.</p>
                <div class="testi_footer">
                    <div class="client_img">
                        <img src="assets/images/client_1.png" alt="">
                    </div>
                    <div class="client_name">
                        <h3>Kendry Diaz <span>Co-Founder of blueberryinvitations</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials_box">
            <div class="testi_img">
                <img src="assets/images/testi_img_4.jpg" alt="">
            </div>
            <div class="testi_cn">
                <div class="quote">
                    <img src="assets/images/quote.png" alt="">
                </div>
                <h2>Boost My Website Visitor & Speed</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque velit. Mauris consectetur elit quis arcu mollis, nec sagittis est eleifend. Vivamus vestibulum aliquam eleifend. Morbi mollis neque metus, sit amet pulvinar libero pulvinar id. Phasellus lacinia est non hendrerit efficitur.</p>
                <div class="testi_footer">
                    <div class="client_img">
                        <img src="assets/images/client_2.png" alt="">
                    </div>
                    <div class="client_name">
                        <h3>Kendry Diaz <span>Co-Founder of Bioastra</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_5">
    <div class="container text-center">
        <div>
          <h3>So What’s Next?</h3>
          <h2>Are you ready? Let’s go!</h2>
        </div>
        <a href="javascript:void(0)" class="btn_learn">Get A Quote</a>
    </div>
</div>
<div class="section_6">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-xl-6 col-lg-6">
              <h2>Hire us, or just say hello!</h2>
              <div class="phone_num_holder">
                  <p>Montreal: <a href="tel:5148191901"> (514) 819-1901</a></p>
                  <p>Toll Free: <a href="tel:18009391077">1 (800) 939-1077</a></p>
              </div>
              <div class="address_holder">
                  <h3>OFFICE HOURS:</h3>
                  <p>Monday to Friday</p>
                  <p>9:00 a.m - 5:00 p.m EDT</p> 
              </div>
              <div class="social_holder">
                  <h4>We are Social</h4>
                  <ul>
                      <li><a href="https://www.facebook.com/MontrealWebDesign" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/montrealweb" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href=" https://ca.linkedin.com/in/domenic-grippo-899ba21" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-5 col-lg-6">
              <div class="form_holder">
                  <form>
                      <input type="text" placeholder="Name" class="form-control">
                      <input type="tel" placeholder="PHONE NUMBER" class="form-control">
                      <input type="email" placeholder="EMAIL ADDRESS" class="form-control">
                      <textarea placeholder="Tell us about your project" class="form-control"></textarea>
                      <input type="submit" value="">
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
